
body{

}
h1{
font-size:50px;
color:white;
text-align:center;
background-color:blue;
margin-bottom:0px;	
}
ul{
    margin: 0px;
    float: left;
    padding:0px;
}
li,.menu_buttons{

    width: 267px;
    list-style: none;
    margin: 0px;
    font-size: 20px;
    float: left;
}


#link_div{

width:20%;
height:1132px;
background-color:grey;
float:left;
}
#menu_section{	
	margin-top:0px;	
}
section{
	font-size:30px;
	text-align:left;
}
section p{
	
	color:red;
}
.content{
float:right;
width:80%;
height:1132px;
background-color:lightgray;
}

#inner{
//display:none;
	
}
table,td,th,tbody,thead{
border:solid black 2px;
border-collapse:collapse;
font-size:25px;
}
.actions{
	margin-top:50px;
	margin-bottom:50px;
}