
table, td, th {
	padding: 5px;	
	border: 2px solid black;
	border-collapse: collapse;
	font-size:20px;
	text-align:center;
}
.labels{
	width:180px;
	float:left;
	margin-top:10px;	
	text-align:left;
	padding-right:10px;
	clear:both;  
}

.textbox{
    float:left;
	margin-top:10px;
	
}

div{
	float:left;
	clear:both;
}

#insert1,#insert2{
	float:left;	
	margin-left:50px;
	margin-top:30px;
}

span{
float:right;
}





